@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
/*    background-color: rgb(49, 49, 49);*/
    background-image: url(csc.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#box
{   
    top: 20%;
    left: 20%;

    height: 60%;
    width: 60%;

    background-color: rgba(15, 1, 22, 0.658);
    position:absolute;
    border-radius: 3%;
    /*box-shadow: 5px 10px #888888;*/


}

#login{

    width: 30%;
    height: 60%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    
    background-color: rgba(255, 255, 255, 0.685);
    
    border-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    box-shadow: 5px 7px 4px 2px #1b1b1b;



}

#text{
    width: 100%;
    height: 17%;
    background-color: rgba(27, 153, 16, 0.945);
   
    border-bottom-right-radius: 44%;
    border-top-left-radius: 44%;   
    
    padding-top: 2%;
}

#text h2{
    text-align: center;
    color: rgb(255, 251, 0);
}

#log{
    width:60%;
    background-color: rgb(255, 255, 255);
    background: transparent;
    margin-top: 2%;
    height : 7%;
    position: relative;
    left: 20%;
    text-align: center;
    font-size: 90%;
}


#contain {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    background: transparent;

}


.input-field, form .button{
    margin: 25px 0;
    position: relative;
    left: 5%;
    height: 50px;
    width: 90%;
  }


  .input-field input{
    height: 100%;
    width: 97%;
    border: 1px solid rgb(43, 139, 248);
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
  }

  input:focus{
    border: 1px solid #1DA1F2;
  }

  .input-field label, span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


  .input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
  }

  span.show{
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
  }

  input:valid ~ span.show{
    visibility: visible;
  }

  input:focus ~ label,
  input:valid ~ label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
  }

  form .button{
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
  }

  .button .inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    transition: all .4s;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
  }

  .button:hover .inner{
    left: 0;
  }


  .button button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }

  .signup{
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
  }
  .signup a{
    color: #df0000;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }

  #sm{
      width: 100%;
      height: 12%;
      position: relative;
      background-color: rgb(255, 255, 255);
      background: transparent;

      display: flex;
      justify-content:space-evenly;
  }

  #gog{
    width: 20%;
    background-image: url(gog.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 1s;

}

#gog:hover{
    
    background-color: rgb(229, 251, 253);
    border-radius: 5%;

}

#fb{
    width: 20%;
    
    background-image: url(fb.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 1s;
}

#fb:hover{
    
    background-color: rgb(229, 251, 253);
    border-radius: 5%;

}

  #twt{
      width: 20%;
      
    background-image: url(ttw.png);
    background-size: cover;
    background-position: center;
    transition: ease-out 1s;
    
}

#twt:hover{
    
    background-color: rgb(229, 251, 253);
    border-radius: 5%;

}

  .auth{
      text-align: center;
      margin-bottom: 2%;
  }


  
.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}

